<html>
<head>
<title>Title</title>
</head>
<body>

<form action="/">	<input type="submit" name="log_out"
id="log_out" value="Logout"></form>
<form action="/tasks">	<input type="submit" name="tasks" id="tasks"
value="Tasks"></form>

{%if not admin %}
<h1> you are not Autorized to this section </h1>
{%else %}

{% block body %}
  <TABLE  BORDER="1" CELLSPACING="1" CELLPADDING="10">
    <CAPTION> USERS</CAPTION>
    <TR>
      <TD>User Name</TD>
      <TD>Password</TD>
      <TD>Nick Name</TD>      
      <TD>Birth Year</TD>
    </TR>      

  {% for user in users %}
    {%if loop.cycle('odd','even') =='odd' %}
    {% set bgcolor="#bfb0b1"%}
    {%else %}
    {% set bgcolor="#ffffff"%}
    {%endif%}
    <TR  BGCOLOR={{bgcolor}}>   
      <TD>{{user.key.id()}}</TD>
      <TD>{{user.password}}</TD>
      <TD>{{user.name}}</TD>        
      <TD>{{user.birthyear}}</TD>
    </TR>
  {% endfor %}
  </TABLE>
  {% endblock %}



  {% if next_cursor %}
  <p><a href="/admin?cursor={{ next_cursor }}">Next</a></p>
  {% endif %}
{%endif%}

</body>
</html>