<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>


		<h3 style="color:blue;">
			<span style="color:#000080;">Please login to task manager</span></h3>
		<p>&nbsp;</p>
		<form enctype="multipart/form-data"" id="login" method="post" name="login" target="">
			<p>
				User Name:&nbsp;<input maxlength="30" name="username" value="{{username}}" size="30" type="text" /></p>
			<p>
				Password: &nbsp; &nbsp;<input maxlength="100" name="password" size="30" type="password" /></p>
			<p>
				<input type="submit" value="Log in" /></p>
		</form>
<form action="/signup">
    <input type="submit" value="Sign up">
</form>
 <p><span style="color:#b22222;">{{message}}</span></p>
                 
</html>
