<html>

<head>
    <title></title>
</head>

<body>


    <h3 style="color:blue;">
			<span style="color:#000080;">Please sign up to task manager</span></h3>
    <p>
        &nbsp;</p>
    <form enctype="multipart/form-data" id="signup" method="post" name="signup" target="_self">
        <p>Nick Name: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input maxlength="30" name="name" value="{{name}}" size="30" type="text" />
        </p>
        <p>
            Birth Year: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            <input maxlength="30" name="birthyear" value="{{birthyear}}" size="30" type="text" />
        </p>
        <p>
            Username: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input maxlength="30" name="username" value="{{username}}" size="30" type="text" />
        </p>
        <p>
            Password: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            <input maxlength="30" name="password" size="30" type="password" />
        </p>
        <p>
            Password retype: &nbsp;
            <input maxlength="30" name="passwordretype" size="30" type="password" />
        </p>
        <p>
            <input name="submit" type="submit" value="submit" />
        </p>
    </form>
    <form action="/">
        <input type="submit" value="Log in">
    </form>
    <p><span style="color:#b22222;">{{message}}</span>
    </p>

</body>

</html>