<script type="text/JavaScript">
function validateForm() {
	if (document.add_task.task.value == '' || length(trim(document.add_task.task.value)) == 0)
	{
		document.getElementById("error_message").innerHTML = "Task field can not be blank";
		return false;
	} else
	return true;
	
}
</script>

<html?>
	<head>
		<title>Title</title>
	</head>
	
	<body>
<form action="/">	<input type="submit" name="log_out"
id="log_out" value="Logout"></form>

{% if isUserAdmin %}
<form action="/admin">	<input type="submit" name="admin" id="admin"
value="Admin"></form>
{%endif %}

		<h1>Task list for {{ user_name }} </h1>

{% block body %}
  <TABLE  BORDER="1" CELLSPACING="1" CELLPADDING="10">
    <TR>
      <TD>User Name</TD>
      <TD>Task</TD>
      <TD>Due Date</TD> 
      <TD>Is Complete?</TD>
      <TD>Delete ?</TD>
    </TR>      

  {% for task in task_list %}
    {%if loop.cycle('odd','even') =='odd' %}
    {% set bgcolor="#bfb0b1"%}
    {%else %}
    {% set bgcolor="#ffffff"%}
    {%endif%}
    <TR  BGCOLOR={{bgcolor}}>
      <TD>{{task.user_id}}</TD>
      <TD>{{task.task}}</TD>
      <TD>{{task.due_date}}</TD>
      <TD>{{task.is_complete}}</TD>
      <TD><form action = "" method = "post"><input type="hidden" name="key_to_delete" value="{{task.key.urlsafe()}}"><input type="submit" name = "delete_task" value="delete"></form></TD>        
    </TR>
  {% endfor %}
  </TABLE>
  {% endblock %}
		
		<hr>
		<form action = "" name="add_task" id="add_task" method="post" onsubmit="return validateForm()">
			<h2>Add a new task</h2>
			Task: <input type="text" name="task" id="task"><br>
			Due Date: <input type="text" name="due_date" id="due_date"><br>
			<input type="submit" name="add_task" id="add_task" value="add">
		</form>
		
		<label id="error_message" style="color:red">{{ error_message }}</label>
	</body>
</html>